{{> header}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Computer network</h1>
        <p>Te computer networks with IA</p>
    </div>

    <div class="col-4">
        <img src="assets/img/network.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer}}